<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Article</title>
</head>
<body>
    <!-- Navigattion -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed">
    <div class="container">
      <a href="/" class="navbar-brand">Read<i>it</i></a>
      <button class="navbar-toggler navbar-toggle-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a href="/" class="nav-link"><i class="fas fa-home"></i> Home</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link"><span><i class="fas fa-user-alt"></i> Hello, <%= name%></span></a>
          </li>
          <% if(name !== "Guest") {%>
            <li class="nav-item">
            <form action="/user/logout?_method=DELETE" method="POST">
              <button class="btn btn-outline-danger" type="submit"><i class="fas fa-sign-out-alt"></i> Log Out</button>
            </form>
            </li>
           <% } else { %> 
              <li class="nav-item">
                <a href="/user/login" class="btn btn-outline-danger"><i class="fas fa-fingerprint"></i> Login</a>
              </li>
            <% } %>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container">
        <h1 class="mb-4">New Article</h1>

        <form action="/articles" method="POST">
            <%- include('_form_fields') %>
        </form>
    </div>
</body>
</html>